* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    border-bottom: 1px solid lightgrey;
    color: #5f6368;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

body {
    height: 100%;
}

.header-top {
    height: 50px;
    display: flex;
    flex-direction: row;

    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.header-bottom nav {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-bottom ul li {
    display: inline-block;
    font-size: 18px;
    padding: 15px;

}

.active {
    color: blue;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.user i {
    padding-right: 10px;
    font-size: 22px;
}

.ctn {
    width: 70%;
    margin: 20px, auto;
}

.faq-txt h2,
.faq-txt p {
    margin-bottom: 18px;
}

footer {
    height: 60px;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;

}

footer ul li {
    display: inline-block;
    line-height: 60px;
    font-size: 14px;
    color: grey;
}